@page "/comecar"
@layout HeadlessLayout
@inherits RegisterPage

<PageTitle>Dima - Registrar</PageTitle>

<MudGrid Justify="Justify.Center">

    <MudItem xs="12" sm="12" md="8" lg="6" xl="6" xxl="6">

        <MudPaper Class="mud-width-full pa-8">
            <div class="d-flex justify-center pb-8 pt-8">

                <img src="imgs/dima.png" alt="Dima - Controle Financeiro" width="200"/>

            </div>

            <MudForm @ref="MudForm">
                <MudTextField T="string" Label="Email" InputType="InputType.Email"
                              Placeholder="seu@email.com.br"
                              Required="true"
                              RequiredError="Informe o email!"
                              Validation="@(new EmailAddressAttribute { ErrorMessage = "Email Inválido!"})" />

                <MudTextField T="string" Label="Senha" InputType="InputType.Password"
                              Placeholder="Senha"
                              Required="true"
                              RequiredError="Senha inválida"/>

            </MudForm>

            <div class="d-flex mt-8">
                <MudButton Variant="Variant.Filled" Color="Color.Primary">Começar</MudButton>

                <MudSpacer />

                <MudButton Href="/login">Já tenho uma conta</MudButton>
            </div>

        </MudPaper>

    </MudItem>

</MudGrid>
